
{% extends 'base.html' %}
{% load static %}
{% block body %}
<body>

  <!-- preloader start -->
  <div class="preloader">
    <img src="{% static 'images/preloader.gif' %}" alt="preloader">
  </div>
  <!-- preloader end -->

<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="block text-center">
          <a class="logo" href="index-2.html">
            <img src="{% static 'images/logo.png' %}" alt="logo">
          </a>
          <h2 class="text-center">edit</h2>
            {% if type == 'category' %}

            <form class="text-left clearfix" action="" method="POST" >
            {% csrf_token %}
            <div class="form-group">
              <label >add category</label>
              {{form.name}}
            </div>
            <br>

            <div class="text-center">
              <button type="submit" class="btn btn-primary">edit category</button>
            </div>
          </form>
            {% endif %}
            {% if type == 'subcategory' %}

            <form class="text-left clearfix" action="" method="POST" >
            {% csrf_token %}
            <div class="form-group">
              <label >Select  Category</label>
               {{form.cat}}
            </div>
            <br>
            <div class="form-group">
              <label >add subcategory</label>
              {{form.name}}
            </div>
            <br>

            <div class="text-center">
              <button type="submit" class="btn btn-primary">edit subcategory</button>
            </div>
          </form>
            {% endif %}

         {% if type == 'product' %}
          <form class="text-left clearfix" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label >Select Sub Category</label>
              {{form.subcat}}
            </div>
            <br>
            <div class="form-group">
              <label>Product-Name</label>
              {{form.name}}
            </div>
            <div class="form-group">
               <label>Product-Price</label>
             {{form.price}}
            </div>
            <div class="form-group">
               <label>Product-stock</label>
             {{form.stock}}
            </div>
              {% if prodata %}
               <div class="col-sm-4">
                            <label >Image 1 <a href="{{ prodata.img1.url }}" target="_blank">{{ prodata.img1 }}</a></label>
                            {{ form.img1 }}
                        </div>
                        <div class="col-sm-4">
                            <label >Image 2 <a href="{{ prodata.img2.url }}" target="_blank">{{ prodata.img2 }}</a></label>
                           {{ form.img2 }}
                        </div>
                        <div class="col-sm-4">
                            <label >Image 3 <a href="{{ prodata.img3.url }}" target="_blank">{{ prodata.img3 }}</a></label>
                          {{ form.img3 }}
                        </div>
                        {% else %}


                         <div class="col-sm-4">
                            <label >Image 1</label>
                            {{ form.img1 }}
                        </div>
                        <div class="col-sm-4">
                            <label >Image 2</label>
                           {{ form.img2 }}
                        </div>
                        <div class="col-sm-4">
                            <label >Image 3</label>
                          {{ form.img3 }}
                        </div>
              {% endif %}


            <div class="form-group">
               <label>Product-Description</label>
             {{form.des}}
            </div>


            <div class="text-center">
              <button type="submit" class="btn btn-primary">edit product</button>
            </div>
          </form>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

</div>
</body>
{% endblock %}
<!-- /main wrapper -->

<!-- jQuery -->